body
{
   background-image:url("../../images/4.jpg");
   background-position:center;
   background-repeat:no-repeat;
   background-size:cover;
   margin:0;
   padding:0;
   text-align:center;
   font-family:Century Gothic; 
}

.list
{
    width: 100%; 
    color: #4877CA;
    margin: 0;
    border: 2px solid white;
    background-color: #BDEB95;
    height: 50px;
}
nav .list ul li{float:right;}

nav ul 
{
    list-style:none;  
    margin: 0;
    margin-left: 650px;
    padding-top: 10px;
    
}
nav ul :hover
{
    background-color:#2F9404;
    border-radius: 7px;
    box-shadow: 0 0 10px white;
    color: white;
}
nav ul li 
{
    display: inline-block;
}
nav ul li a
{
    text-decoration: none;
    color:#4877CA;
    font-family: Rockwell;
    font-size: 20px;
    padding: 10px;
    text-transform: none;
}
nav .head
{
   position:absolute;
  
}
nav .head h1
{
  
    font-family: French Script MT;
    font-size: 50px;
    text-transform: capitalize;
    padding-top:0;
    color: #EC711E;
    font-weight: bold;
    margin: 0;
  
    
}
nav .head h1 span
{
    color: dodgerblue;
    font-family: French Script MT;
}
.title
{
	margin-top:100px;
	color:teal;
}
.title h1
{
	font-size:50px;
	line-height:10px;
}
.title h2{font-size:23px;}

p{color:crimson;}

form{margin-top:50px;}

.form-control
{
	width:500px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:2px solid teal;
	color:black;
	font-size:18px;
	margin-bottom:16px;
    border-radius:20px;	
	box-shadow:0 0 30px  cadetblue;
    color:teal;
    font-weight:bold;
}
input{
	height:45px;

    
}
#sub{
	background-color:teal;
	border:none;
	border-radius:15px;
	padding:10px;
	margin-top:8px;
	color:white;
	cursor:pointer;
	font-weight:bold;
    width:200px;
    height: :50px;
	
}
#sub:hover{
	background-color:turquoise;
}
